.about {
    min-height: 500px;
}

.about__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.tags__wrapper {
    position: relative;
}

.foto__wrapper {
}

@media (max-width: 720px) {
    .about__wrapper {
        grid-template-columns: 1fr;
    }
}
