.footer {
    background-color: var(--main-bg-color);
}

.footer__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    flex-wrap: wrap;
}

@media screen and (max-width: 560px) {
    .footer__wrapper {
        padding: 15px;
        flex-direction: column;
        gap: 10px;
    }
}
