@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
:root {
    --main-color: #262626;
    --second-color: #f0fff0;
    --main-bg-color: #ffd657;
    --second-bg-color: #232529;
    --third-bg-color: #ffffff;
    --main-hover-color: #e5ab39;
    /* --url-features-one: url('../img/');
    --url-features-two: url('../img/');
    --url-features-three: url('../img/');
    --url-features-four: url('../img/'); */
    --borderPrimary: #35383f;
    --attention-color: #d55759;
    --dark-theme-hover: #696e79;
    --border-radius: 8px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: 16px;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    color: var(--main-color);
    background: var(--third-bg-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
a {
    color: inherit;
    text-decoration: none;
}
ol,
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

button {
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1060px;
    margin: 0 auto;
    padding: 0 15px;
}

/* .btn {
    padding: 5px 10px;
    outline: none;
    border-radius: var(--border-radius);
    border: 2px solid var(--main-hover-color);
    background-color: inherit;
} */

/* Планшеты */
@media (max-width: 1024px) {
}
/* Мобильные устройства */
@media (max-width: 720px) {
}
@media (max-width: 380px) {
}
