@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
:root {
    --main-color: #262626;
    --second-color: #f0fff0;
    --main-bg-color: #ffd657;
    --second-bg-color: #232529;
    --third-bg-color: #ffffff;
    --main-hover-color: #e5ab39;
    --borderPrimary: #35383f;
    --attention-color: #d55759;
    --dark-theme-hover: #696e79;
    --border-radius: 8px;
    --color-link-btn: #262c27;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: 16px;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    color: var(--main-color);
    background: var(--third-bg-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
a {
    color: inherit;
    text-decoration: none;
}
ol,
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

button {
    cursor: pointer;
}

img {
    max-width: 100%;
    height: 100%;
}
/* ---------------------------spinner---------------------------------- */
.loader-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: var(--second-bg-color);
    z-index: 1;
}
.spinner {
    width: 64px;
    height: 64px;
    border: 8px solid;
    border-color: var(--main-bg-color) transparent var(--main-bg-color) transparent;
    border-radius: 50%;
    animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/* ---------------------------spinner---------------------------------- */

.container {
    max-width: 1070px;
    margin: 0 auto;
    padding: 0 25px;
    height: 100%;
}
.title {
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 30px;
    padding: 20px 0;
    font-size: calc(1.5rem + 10 * (100vw - 320px) / 880);
}

/* Планшеты */
@media (max-width: 1024px) {
}
/* Мобильные устройства */
@media (max-width: 720px) {
}
@media (max-width: 380px) {
}

/* .projects {
    background-color: #d5cd57;
    height: 30vh;
} */
.about {
    background-color: #d55759;
    height: 20vh;
}
.contacts {
    background-color: #61d557;
    height: 20vh;
}
