.hero {
    padding: 40px 0;
    min-height: 695px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--hero-bg);
    background-image: url('../../assets/images/hero-bg.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center center;
    color: var(--hero-text);
    text-align: center;
}

.hero__wrapper {
    padding: 0 15px;
    max-width: 660px;
}

.hero__title {
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.4;
}

.hero__title strong {
    font-size: 60px;
    font-weight: 700;
}

.hero__title em {
    font-style: normal;
    color: var(--accent);
}

.hero__text {
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 1.333;
}

.hero__text p + p {
    margin-top: 0.5em;
}
@media (max-width: 620px) {
    .hero {
        min-height: unset;
    }

    .hero__title {
        font-size: 30px;
    }

    .hero__title strong {
        font-size: 40px;
    }
}
