.modal {
    position: fixed;
    inset: 0;
    width: 100%;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.65);
    animation-name: appear;
    animation-duration: 300ms;
}

.modal__dialog {
    width: auto;
    height: max-content;
    max-width: 95%;
    max-height: 95vh;
    position: relative;
    margin: 0 auto;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: slide-in;
    animation-duration: 0.5s;
    border-radius: 24px;
}

.modal__dialog-active {
    overflow-y: scroll;
}

.modal__close {
    cursor: pointer;
    padding: 5px;
    margin: -5px -5px -5px auto;
    position: absolute;
    top: 1%;
    right: 2%;
    font-size: 24px;
    color: var(--black);
}
.modal__content {
    border-radius: 24px;
    width: auto;
    height: max-content;
    max-height: 95vh;
}

.modal__content-active {
    border-radius: 24px;
    width: auto;
}

.modal__content:hover {
    cursor: zoom-in;
}

.modal__content-active:hover {
    cursor: zoom-out;
}
.modal__arrow {
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    z-index: 99999;
}
.modal__arrow:hover {
    opacity: 0.7;
}

.modal__arrow-left {
    left: 1%;
}

.modal__arrow-right {
    right: 1%;
}

.modal__arrow-left::before {
    content: '';
    display: block;
    height: 34px;
    width: 34px;
    background-image: url('../../assets/images/icons/arrow.svg');
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    position: absolute;
}
.modal__arrow-right::after {
    content: '';
    display: block;
    height: 34px;
    width: 34px;
    background-image: url('../../assets/images/icons/arrow.svg');
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%) scale(-1);
    position: absolute;
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slide-in {
    from {
        transform: translateY(-150px);
    }
    to {
        transform: translateY(0);
    }
}
