.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, clamp(300px, 31%, 500px));
    justify-content: center;
    gap: 30px;
}

.project {
    max-width: 370px;
    background-color: var(--project-card-bg);
    box-shadow: var(--box-shadow);
    border-radius: 10px;
}

@media (max-width: 620px) {
    .projects {
        justify-items: center;
        grid-template-columns: repeat(auto-fit, clamp(150px, 100%, 500px));
    }

    .project {
        max-width: none;
        width: 100%;
    }
}
