.projects {
    /* display: grid;
    grid-template-columns: repeat(auto-fit, clamp(300px, 15%, 400px)); */
    justify-content: center;
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
}

.project {
    max-width: 370px;
    background-color: var(--project-card-bg);
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    flex-grow: 1;
}
